#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Blockly
GenericName=Blockly 
Comment="LerneProgamieren"
Keywords="lp21 sprachen deutsch lesen"
Icon=antolin.png
Exec=nw /usr/share/node/blockly/.
Terminal=false
Categories=Development
