#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Duolingo
GenericName=Duolingo
Comment="Mit Duolingo sprachen lernen"
Keywords="lp21 sprachen Englisch Frnzösisch"
Icon=duolingo.png
Exec=nw /usr/share/node/duolingo
Terminal=false
Categories=Education
