#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Mathe-Trainer
GenericName=Mathe-Trainer
Comment="Mathe üben 1. bis 4.Klasse"
Keywords="lp21 z1 z2 mathematik zahl variable"
Icon=mathe-trainer.png
Exec=nw /usr/share/node/mathe-trainer
Terminal=false
Categories=Education
