#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Antolin
GenericName=Antolin 
Comment=Mit lesen Punkten
Icon=antolin.png
Exec=chromium-browser --app=https://www.antolin.de
Terminal=false
Categories=Education
