#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name="Blinde Kuh"
GenericName=Suchmaschine 
Comment="Die Suchmaschine für Kinder"
Keywords="lp21 alle ict medien"
Icon=blindekuh.png
Exec=chromium-browser --app=http://www.blinde-kuh.ch
Terminal=false
Categories=Education
