#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=ClassRoomScreen
GenericName=Simple Whiteboard App
Icon=classroomscreen.png
Exec=webapps http://classroomscreen.com
Terminal=false
Categories=Education;Whitboard
