#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=ClassroomScreen
GenericName=Simple Whiteboard App
Icon=classroomscreen.png
Exec=webapps http://app.classroomscreen.com
Terminal=false
Categories=Education;Whiteboard
