#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Flubidux
GenericName=Flubidux
Comment="Flubidux und die Tönebox"
Keywords="lp21 musik hören"
Icon=flubidux.png
Exec=/usr/share/bin/webapps http://www.flubidux.de/start.htm
Terminal=false
Categories=Education
