#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Google Übersetzer
GenericName=Google Translate
Comment=Sprachen übersetzen
Icon=google-translate.png
Exec=chromium-browser --app=https://translate.google.ch/
Terminal=false
Categories=Education
