#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Internet ABC
GenericName= Internet ABC
Comment="Umgang mit dem Interent"
Icon=internat-abc.png
Exec=chromium-browser --app=http://www.internet-abc.ch/kinder/
Terminal=false
Categories=Education
