#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Kinder Wald
GenericName=Kinder Wald
Comment="Entdecke den Wald"
Keywords="lp21 nmg natur biologie"
Icon=kinderwald.png
Exec=webapps http://kinder.wald.de
Terminal=false
Categories=Education
