#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Kinder Wald
GenericName=Kinder Wald
Comment="Entdecke den Wald"
Icon=kinderwald.png
Exec=chromium-browser --app=http://kinder.wald.de
Terminal=false
Categories=Education
