#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Kinder Suchmaschine
GenericName=Kinder Suchmaschine
Comment=Die Suchmaschine für Kinder
Icon=kindersuchmaschine.png
Exec=chromium-browser --app=http://www.kindersuchmaschine.net
Terminal=false
Categories=Education
