#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Kinderweltmusik
GenericName=Kinderweltmusik
Comment="Ein Multimediale Weltkarte der Kindermusik"
Icon=kinderweltmusik.png
Exec=chromium-browser --app=http://www.weltmusik-fuer-kinder.de
Terminal=false
Categories=Education
