#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Leo
GenericName=Leo
Comment="Wörterbücher"
Keywords="lp21 sprachen deutsch französisch englich"
Icon=leo.png
Exec=nw /usr/share/node/leo/
Terminal=false
Categories=Education
