#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Lerntrix
GenericName=Lerntrix
Comment="Rechenwerkstatt"
Icon=lerntrix.png
Exec=chromium-browser --app=http://www.labbe.de/lerntrix/index_mg.asp
Terminal=false
Categories=Education
