#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Mathe Aktiv Multiplikation
GenericName=Mathe Aktiv Multiplikation
Comment="Dividieren üben"
Keywords="lp21 z1 mathematik zahl variable"
Icon=mathe-aktiv-division.png
Exec=webapps "http://www.lehrerweb.at/materials/gs/mathe/mathe_aktiv/dividieren/division_swf/index.htm"
Terminal=false
Categories=Education
