#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Mathe3Trainer
GenericName=Mathe3Trainer
Comment="Mathe üben 3 .Klasse"
Keywords="lp21 z2 mathematik zahl variable"
Icon=mathe3trainer.png
Exec=webapps http://www.lehrmittelverlag-zuerich.ch/Portals/1/Documents/lehrmittelsites/matheprimar/rout3gr/_framework/mathematik3_de.html
Terminal=false
Categories=Education
