#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Mathe1Trainer
GenericName=Mathe1Trainer
Comment="Mathe üben 1.Klasse"
Keywords="lp21 z1  mathematik zahl variable"
Icon=mathe1trainer.png
Exec=nw /usr/share/node/mathe1trainer
Terminal=false
Categories=Education
