#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Mathe6Trainer
GenericName=Mathe6Trainer
Comment="Mathe üben 6.Klasse"
Keywords="lp21 z2 mathematik zahl variable"
Icon=mathe6trainer.png
Exec=webapps http://www.lehrmittelverlag-zuerich.ch/Portals/1/Documents/lehrmittelsites/matheprimar/matheprimar_6/fertigkeiten/de/index.html
Terminal=false
Categories=Education
