#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Mathe Aktiv Multiplikation
GenericName=Mathe Aktiv Multiplikation
Comment="1 mal 1 üben"
Keywords="lp21 z1 mathematik zahl variable"
Icon=mathe-aktiv-multiplikation.png
Exec=webapps "http://www.lehrerweb.at/materials/gs/mathe/mathe_aktiv/1x1/1x1/index.htm"
Terminal=false
Categories=Education
