#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Mathe2Trainer
GenericName=Mathe2Trainer
Comment="Mathe üben 2.Klasse"
Keywords="lp21 z1 mathematik zahl variable"
Icon=mathe2trainer.png
Exec=webapps http://www.lehrmittelverlag-zuerich.ch/Portals/1/Documents/lehrmittelsites/matheprimar/rout2gr/_framework/mathematik2_de.html
Terminal=false
Categories=Education
