#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Mathe5Trainer
GenericName=Mathe5Trainer
Comment="Mathe üben 5.Klasse"
Keywords="lp21 z2 mathematik zahl variable"
Icon=mathe5trainer.png
Exec=webapps http://www.lehrmittelverlag-zuerich.ch/Portals/1/Documents/lehrmittelsites/matheprimar/matheprimar_5/fertigkeiten/de/index.html
Terminal=false
Categories=Education
