#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=MiniPodium
GenericName=Filme geschützt veröffentlichen und ansehen
Comment=""
Keywords="lp21 gestalten zusammenarbeiten"
Icon=minipodium.png
Exec=waebapps http://www.minipodium.ch
Terminal=false
Categories=Education
