#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Musikwissenschaften
GenericName=Musikwissenschaften
Comment="Übungen zur Gehörbildung"
Icon=musikwissenschaften.png
Exec=chromium-browser --app=http://www.musikwissenschaften.de/kids/
Terminal=false
Categories=Education
