#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=NetCity
GenericName=NetCity 
Comment="Spiel zu den Gefahren im Internet"
Keywords="lp21 nmg ict medien"
Icon=netcity.png
Exec=webapps http://www.netcity.org
Terminal=false
Categories=Education
