#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=NetCity
GenericName=NetCity 
Comment="Spiel zu den Gefahren im Internet"
Icon=netcity.png
Exec=chromium-browser --app=http://www.netcity.org
Terminal=false
Categories=Education
