#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=NetLa
GenericName=NetLa 
Comment="Meine Daten gehören mir"
Icon=netla.png
Exec=chromium-browser --app=http://www.netla.ch
Terminal=false
Categories=Education
