#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=NotenMax
GenericName=NotenMax
Comment="Musikerziehung"
Keywords="lp21 musik singen hören"
Icon=notenmax.png
Exec=/usr/share/bin/webapps http://www.notenmax.de
Terminal=false
Categories=Education
