#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=OpenStreetMap
GenericName=OpenStreetMap
Comment="Online Karte"
Icon=openstreetmap.png
Exec=chromium-browser --app=http://www.openstreetmap.ch
Terminal=false
Categories=Education
