#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=PhEt
GenericName=PhEt 
Comment="Interaktive Simulationen"
Keawords="lp21 nmg physik"
Icon=phet.png
Exec=webapps http://phet.colorado.edu/de/simulations/category/by-level/elementary-school/index
Terminal=false
Categories=Education
