#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Schulkarte
GenericName=Schulkarte
Comment="Schulkarte mit ÖV"
Keywords="lp21 raum nmg"
Icon=schulkarte.png
Exec=webapps http://www.anhbl.ch/start/index.html?plain=true
Terminal=false
Categories=Education
