#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Sumo Paint
GenericName=Sumo Paint
Comment="Online Bildbearbeitung"
Keywords="lp21 gestalten"
Icon=sumopaint.png
Exec=webapps "http://www.sumoware.com/home/#app"
Terminal=false
Categories=Education
