#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Sumo Paint
GenericName=Sumo Paint
Comment="Online Bildbearbeitung"
Icon=sumopaint.png
Exec=chromium-browser --app="http://www.sumoware.com/home/#app"
Terminal=false
Categories=Education
