#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Zeitklicks
GenericName=Zeitklicks
Comment="Flubidux und die Tönebox"
Keywords="lp21 musik hören"
Icon=zeitklicks.png
Exec=webapps http://www.zeitklicks.de/zeitklicks
Terminal=false
Categories=Education
