#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Kinder Zeitmaschine
GenericName=Kinder Zeitmaschine
Comment="Reise in die Vergangenheit"
Keywords="lp21 nmg zeiten gesellschaften"
Icon=kinderzeitmaschine.png
Exec=/usr/share/bin/webapps http://www.kinderzeitmaschine.de
Terminal=false
Categories=Education
